<div class="tw-tweet">
  <div class="tw-tweet-input">
    <img src="https://via.placeholder.com/150" alt="" />
    <div class="tw-user-info">
      <a href="">Felipe Fontana</a>
      <span>@fontii 1h</span>
    </div>
  </div>
  <div class="tw-tweet-text">
    <p>Esto es un tweet de prueba bro juju, nunca había replicado una página tan bonita</p>
  </div>
  <div class="tw-tweet-footer">
    <a href=""
      ><div class="tw-tweet-icon primary">
        <i class="fa-regular fa-comment"></i></div
    ></a>
    <a href=""
      ><div class="tw-tweet-icon success"><i class="fa-solid fa-retweet"></i></div
    ></a>
    <a href=""
      ><div class="tw-tweet-icon danger"><i class="fa-regular fa-heart"></i></div
    ></a>
    <a href=""
      ><div class="tw-tweet-icon primary"><i class="fa-solid fa-arrow-up-from-bracket"></i></div
    ></a>
  </div>
</div>
