* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.tw-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: #000;
    text-decoration: none;
}

.tw-title:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.tw-title-icon {
    width: 3em;   
    margin-top: 0.5rem;
}

.tw-title-icon svg:hover {
    transition: 0.1s;
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 50%;
}

.tw-tweet {
    border-top: 1px solid #e7e7e7;
}

.tw-tweet:hover {
    transition: 0.1s;
    background-color: #f8f8f8;
    cursor: pointer;
}

.tw-tweet-input {
    margin-top: .7em;
    padding-top: .5em;
    display: flex;
    align-items: center;
}

.tw-tweet-input img {
    width: 3em;
    height: 3em;
    margin-right: 0.5rem;
    border-radius: 50%;
}

#tweetInput {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    padding: 0.3em;
    font-size: 1.2rem;
    resize: none;
}

.tw-tweet-input .tw-user-info a {
    color: rgb(28, 28, 28);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.tw-tweet-input .tw-user-info a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tw-tweet-input .tw-user-info span {
    color: rgb(128, 128, 128);
}

.btn-twitter {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.tw-icon-row {
    display: flex;
    justify-content:space-around;
    margin-top: 0.5rem;
    margin-left: 3em;
}

.tw-icon-row i {
    color: #1da1f2;
    font-size: 1.2rem;
    padding: .4em;
    border-radius: 50%;
}

.tw-icon-row i:hover {
    background-color: #1da0f238;
    cursor: pointer;
}

.tw-tweet-footer {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 5em;
    padding: 0.2em;
}

.tw-tweet-footer a {
    color: #6b6b6b;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
}

.tw-tweet-icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tw-tweet-icon.danger:hover {
    transition: 0.2s;
    background-color: #ff808023;
    ;
    cursor: pointer;
    color: #ff8080;
}

.tw-tweet-icon.success:hover {
    transition: 0.2s;
    background-color: #8de6a331;
    cursor: pointer;
    color: #8de6a3;
}

.tw-tweet-icon.primary:hover {
    transition: 0.2s;
    background-color: #1da0f221;
    cursor: pointer;
    color: #1da1f2
}

.tw-tweet-icon span.tw-counter {
    font-size: 0.9rem;
    color: #000;
    font-weight: thin;

    margin-left: 5px;
}

.fa-heart.danger {
    color: #ff8080;
}

.sidebar-left {
    border-right: 1px solid #e7e7e7;
}

.sidebar-right {
    border-left: 1px solid #e7e7e7;
}

.border-danger {
    border: 2px solid rgb(255, 199, 199);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

textarea.non-resize {
    resize: none;
}