* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/***************/
.twitter-wrap {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  position: relative;
}
.side-left {
  position: fixed;
  height: 100%;
  width: 20%;
  text-align: right;
  z-index: 1;
}
.menu .menu-item {
  padding: 5px 10px;
  max-width: 70%;
  margin-bottom: 0px;
  border-radius: 30px;
}

.menu .menu-item .menu-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.menu .menu-item .menu-link i.menu-logo {
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
}

.menu .menu-item .menu-link img.menu-logo{
  width: 55px;
  height: 55px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

.menu .menu-item .menu-link span {

  font-size: 1.2em;
  font-weight: thin;
  color: rgb(0, 0, 0);
}
.menu .menu-item:hover {
  background-color: #eee;
  cursor: pointer;
}
.menu .menu-item .menu-link i {
  color: #000;
  font-size: 25px;
  line-height: 55px;
}
.menu .menu-item .menu-link.active i {
  color: #1b95e0;
}
.menu .menu-item .box {
  position: absolute;
  width: 340px;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  top: 275px;
  left: 35px;
  border-radius: 15px;

  display: none;
  flex-direction: column;
  justify-content: left;
  align-items:flex-start;

}

.box .box-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.box .box-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box .box-header .box-title {
  margin-left: 10px;
}

.box .box-header .name {
  font-size: .9rem;
  font-weight: bold;
  margin: 0;
}

.box .box-header .username {
  font-size: .9rem;
  font-weight: thin;
  margin: 0;
}



.menu .menu-item .box .bio {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu .menu-item .box .follow {
  display: flex;
}
.menu .menu-item .box .follow a {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
.menu .menu-item .box .follow a span {
  color: #000 !important;
  font-weight: 600;
}

.box .logout-btn
{
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  font-size: .95rem;
  border-radius: 20px;

}

.box .logout-btn:hover
{
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

.box .logout-btn a{
  color: #000;
}

.menu .menu-item:hover .box {
  display: flex;
}
.user-img-30 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 12px;
  border: 2px solid #fff;
}

.tweet-btn {
  margin-top: 20px;
  text-align: center;
  padding: 15px 20px;
  background-color: #1b95e0;
  max-width: 70%;
  border-radius: 30px;
}

.tweet-btn a {
  color: #fff;
  font-weight: bold;
}

.tweet-btn:hover {
  background-color: #1b8fd8;
  cursor: pointer;
}

.side-main {
  border-right: 1px solid #eee;
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 20%;
  background-color: #eee;
  z-index: -1;
}
.side-main .link-home {
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.side-main .write-twit {
  margin-top: 60px;
  padding: 20px 10px;
  display: flex;
  background-color: #fff;
}
.side-main .write-twit img {
  margin-bottom: 20px;
}
.side-main .write-twit textarea {
  border: 0;
  color: #999;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  outline: 0 none;
}
.top-fixed {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #f1f4f7;
  border-right: 1px solid #f1f4f7;
  padding: 20px 10px;
  height: 60px;
  width: 50%;
  background-color: #fff;
}
/**************************/
.side-right {
  border-left: 1px solid #f1f4f7;
  position: absolute;
  margin-top: .1em;
  width: 19em;
}
.search-form {
  background-color: #f1f4f7;
  padding: .5em 1em;
  border-radius: 30px;
  margin-top: 5px;
}
.search-form input {
  border: 0;
  background-color: #f1f4f7;
  color: #999;
  font-size: 14px;
}
.search-form i {
  color: #999;
}

.search-form input:focus {
  outline: 0 none;
}

.trends {
  background-color: #f1f4f7;
  border-radius: 30px;
  margin-top: 15px;
}

.trends h5{
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
}

.trend-list {
  margin-top: 10px;
  padding: 0;
}

.trend-list li {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  text-align: left;
}

.trend-list li:hover {
  background-color: #e7ebf0;
  cursor: pointer;
  transition: 0.2s;
}

.trend-list li p{
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.trend-list span {
  color: rgb(105, 105, 105);
  font-size: 13px;
}
.trend-list li small {
  color: rgb(105, 105, 105);
  font-size: 11px;
  margin: 0;
}

.trend-list li.show-more {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 1400px) {
  .side-left {
    max-width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    max-width: 75%;
    margin: 0;
    padding: 0;
  }
  .menu .menu-item {
    max-width: 50%;
  }
  .menu .menu-item span {
    display: none;
  }

  .tweet-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .side-left {
    display: none;
  }
}